{% load staticfiles %}

<head>
<meta charset="utf-8"> 
<title>SauMari</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/amelia.css' %}">
<link href="{% static 'fonts/glyphicons-halflings-regular.woff' %}">
<link href="{% static 'fonts/glyphicons-halflings-regular.ttf' %}">
<link href="{% static 'fonts/glyphicons-halflings-regular.svg' %}">
    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="{% static 'js/lightbox.min.js' %}"></script>
<link href="{% static 'css/lightbox.css' %}" rel="stylesheet"/>
</head>