<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>

    {% include "saumariapp/header.html" %}

<body>
    
    {% include "saumariapp/navigation.html" %}

<div class="jt">
  <div class="jumbotron">
    <p><h1>Trenniriided</h1></p>

  </div>
</div>

<div class="jumbotron col-md-12">
            {% if images %}
                {% for image in images %}
                    <img height="200" src="{{ image.image.url }}" alt=""/><a href="{{image.id}}">LINK</a>
                {% endfor %}
            {% else %}
                <p>No images are available.</p>
            {% endif %}
    
    {{image}}
</div>


<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
<span>Aadress: Kotka 26A, Tallinn</span><span>Tel +372 5251351</span><span>E-post: <a href="mailto:info@saumari.ee" target="_top">info@saumari.ee</a></<span>
</nav>


</body>
</html>


